

.user-container
{
    margin-inline:1rem  !important;
    padding: 1rem;
    border-radius: 5px;
    background-color: white !important;

}

.user-container .user-card{
    margin: auto !important;
    background-color: white !important;

}

.user-container .user-card .table tbody tr:hover{
    cursor: pointer;
    background-color: aqua;
}