.forgot-password-input{
    padding: .5rem;
    border-radius: 5px;
    outline: none;
    width: 100%;
    border: 1px solid red;
}
.reset-password-btn:disabled{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: black;
    color: white;
    border-radius: 5px;
}
.reset-password-btn{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    border-radius: 5px;
}

.brand-logo img{
    width: 50px;
}

.forgot-password-page-webh-logo{
    width: 60px !important;
}

@media screen and (max-width:600px) {
    .forgot-password-page-webh-brand-logo
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .forgot-password-page-webh-logo{
        display: block;
        width: 70% !important;
        height: 70% !important;
    }

    .forgot-password-page-webh-text{
        display: none;
    }
}