.nameDetails-container
{
    margin-inline:1rem  !important;
    background-color: white !important;
    padding: 1rem;
    border-radius: 5px;
}

.nameDetails-container .nameDetails-card{
    margin: auto !important;
}
.nameDetails-container .nameDetails-card .details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    width: 100%;
}
.nameDetails-container .nameDetails-card .nameDetails-card-category{
    display: block;
    padding: .5rem;
    width:100% !important;
}
.nameDetails-container .nameDetails-card .nameDetails-card-name{
    display: block;
    width:100% !important;    
    padding: .5rem;
}

.nameDetails-container .nameDetails-card .nameDetails-card-post-list{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nameDetails-container .nameDetails-card .nameDetails-card-post-list h4{
    display: block;
    width: 100%;
    margin: auto;
    text-align: center !important;
    color: red;
}


.nameDetails-card .no-respond{
    display: flex;
    justify-content: center;
    align-items: center;
    font: 50px;
}
