.topic-container
{
    margin-inline:1rem  !important;
    background-color: white !important;
    padding: 1rem;
    border-radius: 5px;
}

.topic-container .topic-card{
    margin: auto !important;
}
.topic-container .topic-card .topic-card-body{
    display: flex;
    flex-direction: column;
}

.topic-container .btn{
    width: 70%;
    margin: auto;
    display: block;
    background-color: gray;
    color: white;
}

.topic-container .btn:hover{
    width: 70%;
    margin: auto;
    display: block;
    background-color: rgb(157, 14, 14);
    color: white;
}