.question-container
{
    margin-inline:1rem  !important;
    background-color: white !important;
    padding: 1rem;
    border-radius: 5px;
}

.question-container .question-card{
    margin: auto !important;
}
.question-container .question-card .question-card-body{
    display: flex;
    flex-direction: column;
}

.table tbody tr:hover
{
    background-color: aqua;
    cursor: pointer;
}


/* view Question page */

.question-card h3{
    margin-bottom: 1rem;
}

.question-card-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
.question-card-div-img{
    display: flex;
    justify-content: center;
}
.question-card-div-img img{
    width: 80%;
    max-height: 400px;
    margin: auto;
    border-radius: 5px;
}

.question-card-div-div{
    display: flex;
    margin: auto;
    margin-top: 1rem;
    flex-direction: column;
}
.question-card-div-btn{
    display: flex;
    justify-content: center;
}
.question-card-div-btn button{
    width: 30%;
    padding: 1rem;
    background-color: red;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: large;
}