
.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
}

.image img{
    width: 90%;
    height: 90%;
}

.details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48%;
}

.no-respond{
    display: flex;
    justify-content: center;
    align-items: center;
    font: 50px;
}

.btns{
    display: flex;
    justify-content: space-evenly;
}

.btns .btn{
    width: 40%;
}

.btns .delete{
    background-color: red !important;
}